body {
    margin: 0;
    background-image: url("bg.jpg");
}

#back {
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    z-index: 53;
}

.card {
    border-radius: 10px;
    position: absolute;
    width: 100px;
    left: 20px;
    box-shadow: 4px 0px 5px 0px black;
    top: 20px;
}


#counter {
    position: absolute;
    top: 700px;
    left: 10px;
    color: white;
}

#butt {
    position: absolute;
    left: 50px;
    top: 450px;
    width: 250px;
    height: 50px;
    border: 2px white solid;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 5px 5px #111;
}

#butt:hover {
    background-color: red;

}

.hand1, .hand2, .hand3, .hand4, .hand5, .hand6, .hand7,.hand8, .hand9, .hand11, .hand22, .hand33, .hand44,#back2 {
    border-radius: 10px;
    width: 100px;
    box-shadow: 4px 0px 5px 0px black;
    position: absolute;
    top: 350px;
    left: 20px;
}

.hand2 {
    top: 20px;
    left: 200px;
}

#back2 {
    top: 20px;
    left: 200px;
    z-index: 2;
    visibility: hidden;
    
}

.hand3 {
    top: 350px;
    left: 70px;
}

.hand4 {
    top: 20px;
    left: 250px;
}



.hand5 {
    top: 350px;
    left: 120px;
}

.hand6 {
    top: 350px;
    left: 190px;
}

.hand7 {
    top: 350px;
    left: 250px;
}

.hand8 {
    top: 350px;
    left: 320px;
}

.hand9 {
    top: 350px;
    left: 370px;
}


.hand11 {
    top: 20px;
    left: 300px;
}

.hand22 {
    top: 20px;
    left: 350px;
}

.hand33 {
    top: 20px;
    left: 400px;
}

.hand44 {
    top: 20px;
    left: 450px;
}





.none {
    display: none;
}






#myHand, #dealerHand {
    color: white;
    position: absolute;
    padding: 20px;
    width: 22px;
    background-color: rgba(0, 0, 0, 0.322);
    font-weight: 800;
    font-size: larger;
    border-radius: 50%;
    visibility: hidden;
}

#myHand {
    top: 250px;
    left: 50px;
}

#dealerHand {
    top: 160px;
    left: 250px;
}












#check, #stay {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 540px;
    border: 3px white solid;
    background: rgb(0, 63, 0);
    color: white;
    font-size: larger;
    border-radius: 10px;
    visibility: hidden;
}

#check {
    left: 50px;
}

#stay {
    left: 200px;
}


#winlose {
    position: absolute;
    top: 170px;
    left: 20px;
    color: white;
}


#chip1, #chip2, #chip3, #chip4{
    position: absolute;
    top: 550px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid gray;
    left: 20px;
    font-size: larger;
    color: white;
    box-shadow: 0px 0px 5px 5px #111;
}

#chip1:hover, #chip2:hover, #chip3:hover, #chip4:hover {
    border: 10px solid white;
    
}

#chip1 {
    background-color: rgb(75, 75, 0);
}

#chip2 {
    left: 100px;
    background-color: rgb(32, 88, 0);
}

#chip3 {
    left: 180px;
    background-color: rgb(0, 0, 82);
}

#chip4 {
    left: 260px;
    background-color: rgb(83, 0, 0);
}

#clear {
    position: absolute;
    top: 635px;
    left: 100px;
    width: 150px;
    height: 50px;
    background: rgb(63, 63, 230);
    font-size: larger;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #111;
}

#bet {
    position: absolute;
    color: white;
    top: 500px;
    left: 53px;
}

#money {
    position: absolute;
    color: white;
    top: 500px;
    left: 200px;
}

#advanced, #advanced2 {
    position: absolute;
    top:750px;
    left: 20px;
    color: white;
}

#advanced2 {
    top: 820px;
    left: 20px;
}

#deck1, #deck2, #deck3, #deck4, #deck5 {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 900px;
    left: 40px;
    background-color: rgb(63, 63, 230);
    font-size: larger;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #111;
}

#deck2 {
    left: 100px;
}

#deck3 {
    left: 160px;
}

#deck4 {
    left: 220px;
}

#deck5 {
    left: 280px;
}

#footer {
    position: absolute;
    top: 950px;
    color: white;
    left: 75px;
}